* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',Arial, sans-serif;
    
}

body{
    overflow-x: hidden;
}

/* 
MENU
*/
header {
    height: 100px;
    width: 100%;
    background: #000;
    color: white;
}

.header{ 
    max-width: 1140px;
    height: 100px;
    margin: auto ;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    padding: 0px 9px 0px 9px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 5px solid black;
}
li a.active {
    border-bottom: 5px solid #c88c54;
    color: #d1d1d1;
}
.menu li a:hover {
    border-bottom: 5px solid #c88c54;
    color: #d1d1d1;
}

/* 
BANNER
*/

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/madeira.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .sliders {
    width: 10000vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    
}
.banner .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.banner .slidearea h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner .slidearea span{
    color: #c88c54;
}
.banner .slidearea h2{
    text-transform: uppercase;
    margin-top: 30px;
}
.banner .sliders-poniter {
    width: 100vw;
    height: 20px;
    margin-top: 410px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .poniter {
    width: 15px;
    height: 15px;
    border: 2px solid #c88c54;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.banner .active{
    background-color: #c88c54;
}


/* 
About us
*/

.default{
    padding: 50px 0px 50px 0px;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
}
.default .section-title{
    font-size: 25px;
    font-weight: 600;
}
.default .section-desc {
    font-size: 15px;
    color: #6c6c6c;
    margin: 13px 0px 40px 0px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}

.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}


.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}


.button{
    display: inline-block;
    background-color: #c88c54;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 30px;
}

footer {
    background-color:#000;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer-social {
    display:flex;
}
.footer-social a {
    display:block;
    width:25px;
    height:25px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:13px;
    margin-right:10px;
}
.footer-social a:hover {
    background-color:#B28756;
}
.footer-social img {
    height:10px;
}
.footer--item.area2 {
    color:#999;
    line-height:20px;
    font-size:13px;
    padding:0 10px 10px 10px;
}
.footer--item.area3 form {
    background-color:#333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}













/* 
CSS de areas especificas
*/


.section-aboutus {
    display: flex;

}

.section-aboutus-left {
    flex: 1;
}
.section-aboutus-left p{
    font-size: 14px;
    line-height: 25px;

}

.section-aboutus-right {
    width: 520px;
    text-align: center;
}
.section-aboutus-right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 18px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service i{
    font-size: 60px;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* 
Projetos
*/

.section-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects-filtrers {
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}
.section-projects-filtrers ul,
.section-projects-filtrers li {
    list-style: none;
}

.section-projects-filtrers li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999;
    color: #444;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.section-projects-filtrers li:hover,
.section-projects-filtrers li.active {
    border-bottom: 3px solid #c88c54;
}

.section-projects-filtrers li:first-child {
    border-left: 0;
}

.section-projects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects-photo {
    width: 280px;
}

.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.section-projects-photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects-photoinfo {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    width: inherit;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}
.section-projects-photoinfo h5 {
    font-size: 22px;
    margin-bottom: 10px;
}

.section-projects-photoarea:hover .section-projects-photoinfo{
    display: flex;
}

/* 
Teams
*/

.bg-team {
    background-image: url('../images/foto5.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area { 
    background-color: rgba(0, 0, 0,0.85);
    padding: 50px 0px 50px 0px;
}

.section-team {
    overflow: hidden;
    max-width: 900px;
    margin: auto;
}

.section-team .sliders {
    width: 10000vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #f7f7f7;
    margin-right: 20px;
}
.section-team .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 35px;
}


.section-team-area .sliders-poniter {
    width: auto;
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .poniter {
    width: 15px;
    height: 15px;
    border: 2px solid #c88c54;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.section-team-area .active{
    background-color: #c88c54;
}
.section-team .slidearea img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.section-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team-role {
    font-size: 14px;
    color: #6c6c6c;
    margin-top: 5px;
}

.section-team-social {
    display: flex;
    margin-top: 20px;
}

.section-team-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    margin-right: 10px;
}
.section-team-social i{
    color: #6c6c6c;
}
.section-team-social i:hover{
    color: #c88c54;
}



.testimonials .section-body {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}


.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}





.section-map {
    background-image:url('../images/mapa.jpg');
    background-size:cover;
    background-position:center;
    padding-top:30px;
    padding-bottom:30px;
}
.section-map--area {
    width:100vw;
    max-width:1140px;
    margin:auto;
}
.section-map--info {
    width:50%;
    padding:30px;
    background-color:#FFF;
    color:#000;
}
.section-map--info-item {
    display:flex;
    align-items:center;
    color:#999;
    margin-bottom:10px;
}
.section-map--info-item-img {
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}
.section-map--info-item-img img {
    width:15px;
    height:auto;
}














@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-team {
        max-width:580px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }


    .section-map {
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
}


@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:17px;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width:100%;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(100% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding-left:20px;
        padding-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }

    .section-share {
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .section-share--legend {
        width:100vw;
        margin:0;
        margin-bottom:30px;
        justify-content: center;
    }
    .section-share--item {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    .section-contact {
        max-width:100vw;
        margin-left:20px;
        margin-right:20px;
    }
    .section-contact--split {
        flex-direction: column;
    }

    .section-map {
        padding:0;
        padding-bottom:250px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }

    .footer--area {
        flex-direction:column;
    }
    .footer--item {
        margin-bottom:20px;
    }
    .footer-social {
        justify-content: center;
    }
}