* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',Arial, sans-serif;
    
}

body{
    overflow-x: hidden;
    margin-bottom: 1000px;
}

/* 
MENU
*/
header {
    height: 100px;
    width: 100%;
    background: #000;
    color: white;
}

.header{ 
    max-width: 1140px;
    height: 100px;
    margin: auto ;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    padding: 0px 9px 0px 9px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 5px solid black;
}
li a.active {
    border-bottom: 5px solid #c88c54;
    color: #d1d1d1;
}
.menu li a:hover {
    border-bottom: 5px solid #c88c54;
    color: #d1d1d1;
}

/* 
BANNER
*/

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../images/madeira.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .sliders {
    width: 10000vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    
}
.banner .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.banner .slidearea h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner .slidearea span{
    color: #c88c54;
}
.banner .slidearea h2{
    text-transform: uppercase;
    margin-top: 30px;
}
.banner .sliders-poniter {
    width: 100vw;
    height: 20px;
    margin-top: 410px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .poniter {
    width: 15px;
    height: 15px;
    border: 2px solid #c88c54;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.banner .active{
    background-color: #c88c54;
}


/* 
About us
*/

.default{
    padding: 50px 0px 50px 0px;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
}
.default .section-title{
    font-size: 25px;
    font-weight: 600;
}
.default .section-desc {
    font-size: 15px;
    color: #6c6c6c;
    margin: 13px 0px 40px 0px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}

.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}


.default.dark {
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}


.button{
    display: inline-block;
    background-color: #c88c54;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 30px;
}












/* 
CSS de areas especificas
*/


.section-aboutus {
    display: flex;

}

.section-aboutus-left {
    flex: 1;
}
.section-aboutus-left p{
    font-size: 14px;
    line-height: 25px;

}

.section-aboutus-right {
    width: 520px;
    text-align: center;
}
.section-aboutus-right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 18px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service i{
    font-size: 60px;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* 
Projetos
*/

.section-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-projects-filtrers {
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}
.section-projects-filtrers ul,
.section-projects-filtrers li {
    list-style: none;
}

.section-projects-filtrers li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999;
    color: #444;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.section-projects-filtrers li:hover,
.section-projects-filtrers li.active {
    border-bottom: 3px solid #c88c54;
}

.section-projects-filtrers li:first-child {
    border-left: 0;
}

.section-projects-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects-photo {
    width: 280px;
}

.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.section-projects-photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects-photoinfo {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    width: inherit;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}
.section-projects-photoinfo h5 {
    font-size: 22px;
    margin-bottom: 10px;
}

.section-projects-photoarea:hover .section-projects-photoinfo{
    display: flex;
}